body
{
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
 font-family: oswald;
 font-weight: 200;
  background-image: url("../images/pinchitos.png") ;
  background-size: 700px 400px;;
}


a
{
  text-decoration: none;
  color: #97e9ff;
  
  transition: color 0.3s ease;
}

a:nth-child(2)
{
  color:#67ccfb;
}

a:nth-child(3)
{
  color:#2da3d6;
}

a:nth-child(4)
{
  color:#0f85c3;
}

a:hover
{
  color:#0e5d7f;
}


/*burger menu*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition:
   transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
   opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 1366px;
  height: 768px;
  margin: -200px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav{
  color:#fff;
  display:flex;
  align-content: flex-start;
  font-size: 25px;
  
}

nav h1{
  font-size: 20px;
}
#menu li
{
  padding: 30px 0;
  padding-top: 0
  margin: 10px; 
  margin-top: 0;
  font-size: 90px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  font-weight: 500; 
}

#menuToggle input:checked ~ ul
{
  transform: none;
}




h1{
  color: #fff;
  font-size: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 15%;
  font-family: 'Montserrat', sans-serif;
}

h2{
   font-size: 120px;
 }

b{
  color: #83dafc;
}

b:nth-child(2){
  color: #39b3f4;
}

b:nth-child(3){
  color: #0f82c1;
}

.cart{
  
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-left:2140px;
 
}

.cart img{
  max-width: 50px;
  max-height: 50px;
}


.about{
  background-color: #67ccfb;
}

p{
  color: #fff
}
.sound{
  margin-left:60px;


}



}

h1{
  color: #000;
}

.socialmedia{
 
  margin-bottom:20px;
  margin-right: 60px;
}

.bottom{
  display: flex;
  justify-content: space-between;
}

.bottom img{
  max-width: 60px;

}

.arrow{
 display: flex;
 justify-content: center;
}
.about img{
 margin-left: 40px;


}


.logo{
  max-width: 100px;
  max-height: 50px;
}


.game{
  background-color: #2da3d6;
}

.product{
  background-color: #0f85c3;
}

.aboutus{
  margin-top: 80px;
  max-width: 100%;


}

.aboutus h2{
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 225px;
}


.aboutus p{
  max-width: 60%;
  padding: 300px;
  text-align: justify;
  padding-top: 100px;
  padding-right: 20px;
}

.info{
  display: flex;
  justify-content: center;
}

.info img{
  max-width: 400px;
  max-height: 300px;
  margin: 20px;
  margin-right: 200px;
}


/*general styles*/



/*slideshow styles*/


.slideshow {
  width: 925px;
  height:600px;
  margin: 100px auto; 
 margin-top: 200px;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slideshow img {
  width: 925px;
  height: 600px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}


.slide {
  animation: slide 24s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-37%);
  }
  
  37.5% {
    transform: translateX(-37%);
  }
  
  50% {
    transform: translateX(-74%);
  }
  
  62.5% {
    transform: translateX(-74%);
  }
  
  75% {
    transform: translateX(-100%);
  }
  
  87.5% {
    transform: translateX(-100%);
  }
  
  99% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.product button{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 margin-left: 750px;
 margin-top: 300px;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
 

 }

.carts{
  background-color: #0b6796;
}

h3{
  display: flex;
  justify-content: center;
  font-size: 70px;
}
 .square{
 margin-left: 275px;
  background-color: #67ccfb;
  width:900px;
  height: 400px;
 }

 .square p{
  padding: 100px 350px;
 }

 .carts button{
 margin-left: 670px;
 background-color:#555;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; 
 }
